<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxxsYskjI_ttDnu7DrKR0eMRrG3CCE6kw</string>
	<key>GCM_SENDER_ID</key>
	<string>80962114047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>edapt-4f20e</string>
	<key>STORAGE_BUCKET</key>
	<string>edapt-4f20e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80962114047:ios:c018ff12c843b24827d7ca</string>
	<key>DATABASE_URL</key>
	<string>https://edapt-4f20e-default-rtdb.firebaseio.com</string>
</dict>
</plist>